@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes sparkle {
  0% {
    opacity: 0.05;
    transform: scale(1);
  }
  50% {
    opacity: 0.15;
    transform: scale(1.1);
  }
  100% {
    opacity: 0.08;
    transform: scale(0.95);
  }
}
